/* .container-fluid {
    columns: 30px;
}

#search-button {

} */

/* #future {
    display: table-row-group;
   

} */

/* .col-lg-9 {
    display: grid
} */

.currentcard {
    display: block;
    /* width: 200px; */
    border: 2px solid blue;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;

}

/* #today {
    margin-left: auto;
    margin-right: auto;
} */


.futurecard {
    display: inline-block;
    height: auto;
    border: 2px solid red;
    padding: 10px;
    margin: 2px;

}